.link-hostel {
  color: #ffffff;
  text-decoration: none;
}
.card {
  /* position: absolute;
  top: 50%;*/
  left: 50%;
  height: 400px;
  width: 300px;
  transform: translate(-50%, -50%);
  transform-style: preserve-3d;
  perspective: 600px;
  transition: 0.5s;
  overflow: hidden;
}
.card:hover .card-front {
  transform: rotateX(-180deg);
}
.card:hover .card-back {
  transform: rotateX(0deg);
}
.card-front {
  height: 100%;
  width: 100%;
  background-image: url("../images/thaparBg.webp");
  background-position: 50% 50%;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000000;
  backface-visibility: hidden;
  transform: rotateX(0deg);
  transition: 0.5s;
}
.card-back {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000000;
  backface-visibility: hidden;
  transform: rotateX(180deg);
  transition: 0.5s;
  color: #ffffff;
  text-align: center;
}
.card-back a:hover {
  color: #000000;
  background-color: #fff;
}
